.page-center-box{
  height: 100vh;
  .landing{
    background-image: url("./img/tools.png");
    background-repeat:no-repeat;
    background-position:center 320px;
    background-size:110px;
  }
}

.landing, .page-center-box{
  position: relative;
  padding-top: 50px;
  background-color:#465e80;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.betting-user-fom-box label {
  width: 100px;
}